.main-top{
    display: flex;
    flex-direction: column;
    /* changing */
    width: 93%;
  }
  
  #mainCat{
    width: 99.3%;
    height: auto;
    margin: 5px;
  }
  
  #top-image{
    background-image: url(../images/home0.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    height: auto;
    min-width: 1500px;
    min-height: 650px;
    margin: 5px;
    
  }
  
  section.card-container{
    display: flex;
    flex-wrap: wrap;
    height: 910px;
    background-color: E6D5B8;
    border-top: 2px solid rgb(230, 169, 119);
    border-radius: 3px;
    margin: 10px;
    /* width: 1850px; */
    width: 100%;
    padding: 5px;
  }