body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body , div#root, .App
{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 99.9%;
  font-family: "Lato","Trebuchet MS",sans-serif;
  background-color: #f4ebdd;
  /* justify-content: space-around; */
  
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  
 
  
}
/* ------------------------------- header ------------------------*/
header {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(99, 59, 151); */
  width: 100%;
  min-width: 1710px;
  padding: 0;
  margin: 2px ;
}
 
#logo{
  width: 10%;
  height: auto;
}

div#profile-div{
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 6%;
}
#profile-img{
  width: 55%;
  height: auto;
  padding: 60px 0 0 0;
}
#user-name{
  font-size: 12px;
}


/* ------------------------------- footer ------------------------*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 99%;
  background-color: #733c2d;
  /* #7e5843; */
  color: rgb(212, 186, 147);
  min-width: 1710px;
  /* min-height: 650px; */
  /* padding: 50px 0 5px 400px; */
}

#footer-info, #footer-contact{
  padding: 30px 15px 0;
}

#footer-a{
  color: rgb(238, 160, 132);
}

#footer-a:hover{
  color: rgb(238, 226, 166);
}

/* a:visited {
  color:rgb(219, 159, 214);
} */

/* ------------------------------- navigation ------------------------*/
nav.navigation-bar{
  display: flex;
  /* border-bottom: 2px solid rgb(68, 64, 64); */
  padding: 0;
  margin: 0;
  width: 99%;
  min-width: 1710px;
  justify-content: space-between;
  /* justify-self: flex-end; */
  /* padding: 10px; */
  
}

nav.navigation-bar div{
  display: flex;
  border-left: 2px solid rgb(213, 199, 199);
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 13px;
  margin: 0 60px 0 50px;
}

#search{
  width: 25%;
  height: 60%;
}


nav.navigation-bar  a{
  text-decoration: none;
  padding: 5px;
  color: rgb(68, 64, 64);
  margin: 0 5px 0 5px;
}

nav.navigation-bar a:hover{
  background-color: #ffc29a;
  color: black;
  border-radius: 2px;
  transform: scale(1.2);
}

form {
  background-color: #4654e1;
  width: 350px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  margin: 18px 8px 0 10px ;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  /* padding: 2px 5px; */
  margin: 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}
/* ------------------------------- main -----------------------------*/
.main-top{
  display: flex;
  flex-direction: column;
  min-width: 1750px;
  /* text-align: center; */
}

#mainCat{
  width: 99.3%;
  height: auto;
  margin: 5px;
}

#top-image{
  background-image: url(./images/catBackgrnd.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 99.3%;
  height: auto;
  min-width: 1700px;
  min-height: 650px;
  margin: 5px;
  
}

section.card-container{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background-color: E6D5B8;
  border: 2px solid rgb(125, 125, 34);
  margin: 10px;
  /* overflow-y: auto; */

}
         /* ------------------------- cards ------------------------*/
       .cat-card{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: flex-start;
        flex-grow: 1;
        flex-wrap: wrap;
        /* width: calc(30% - 2px);      */
        height: 380px; 
        background: #fdf9f1;
        border: 2px solid rgb(55, 149, 8);
        margin: 10px;
       }

       .each-cat-img{
        border: #733c2d;
        margin: 8px;
        width: 250px;
        height: 250px;        
       }

       .caption-heart{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 2px 15px 2px 5px;
       } 

       .each-card-outer{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1; 
        width: calc(17% - 2px); 
        height: 400px;
        margin: 2px;
        /* height: 100px;  */
        background: rgb(23, 68, 141);        
       }

        /*----------- adding post + -------------*/
        #adding{
          width: 2.5%;
          height: auto;
          margin: 5px;
        }

        #adding-user-post{
          display: flex;
          justify-content: right;
          margin: 5px 15px 5px 5px;
        }
        
        #adding:hover{
          background-color: rgb(147, 90, 16);
          border-radius: 5px;
          /* transition: transform 0s; */
          transform: scale(1.2);
        }

        /*-------------caption-----------------------*/
        .heart-like{
          width: 30px;
          padding: 5px
        }

        .heart-like:hover{
          transform: scale(1.06);
        }


      

       




