header {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(99, 59, 151); */
    width: 100%;
    min-width: 1310px;
    padding: 0;
    margin: 2px ;
  }
   
  #logo{
    width: 10%;
    height: auto;
  }
  
  div#profile-div{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 6%;
  }
  #profile-img{
    width: 55%;
    height: auto;
    padding: 60px 0 0 0;
  }
  #user-name{
    font-size: 12px;
  }
  