/* ---------------- css for PostForm ----------------*/
/* ---------------- author: Maedeh Hassani-----------*/

div.post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    margin: 10px 0;
    height: 300px;
    background-color:  #f4ebdd;
    font-size: 18px;
    color: rgb(36, 35, 35);
}


#p-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 99%;
    height: 140px;
    background-color:  #f3d8b5;
}

/* -------------------------------------- select image */
div.post-image{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;

}

label.image-lable{
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 10px;
}

#image-post-btn{
    background-color: #f0d3af;
    width: 100%;
    padding: 0 20px 0px 20px;
    font-weight: bold;
    border-radius: 4px;
    margin: 2px;
    padding: 15px 10px 0 0;
    color: rgb(87, 79, 73)
}

/* -----------------------------------caption */
.post-caption{
    display: flex;
    margin: 10px;
}

#caption-label{
    margin: 20px;
}

#caption-input{
    background-color: white;
    height: 35px;
    width: 400px;
    border-radius: 4px;
    color: rgb(109, 66, 44);
    padding: 0 0 0 5px;
}


/* -------------------------------------submit btn */
.submit-post{
    display: flex;
    text-align: center;
}

#submit-btn{
    background-color: rgb(248, 132, 90);
    width: 100%;
    padding: 0 20px 0px 20px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px groove rgb(199, 94, 56);
    color: #f8f1e7;

}

#submit-btn:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(228, 117, 76);
    font-size: 17px;
}

#submit-btn:active{
    background-color: rgb(150, 75, 48);
}